@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;700;800&display=swap');
body {
    background-color: #F3E9D2;
    font-family: Baloo Bhaijaan;
}

.partnerHeading {
    font-size: 5em;
    font-weight: 800;
    color: #1a936f !important;
}

hr {
    color: black;
    opacity: 10;
    background-color: black;
    border: none;
    height: 10px;
}


/* header {
    background-image: url('pix/mentor.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
} */

h4 {
    padding: 40% 0% 10% 10%;
}

*/ p {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: #1a936f;
    /*  text-shadow: 2px 2px 4px #a8a0a0; */
    /* shadow is totally optionallllll*/
}

button {
    background-color: #88D489 !important;
}

span {
    color: #88d489;
}

.card {
    background-color: #F3E9D2;
    border: none;
}